[Unit]
Description=Python Pi Camera Streaming Server
After=network.target

[Service]
User={{ ansible_user }}
# Add the video group here to ensure the service has permission to touch /dev/video0
Group=video
WorkingDirectory={{ project_path }}
Environment="PATH={{ project_path }}/venv/bin"
# This line ensures the driver is loaded before the script runs
ExecStartPre=/usr/sbin/modprobe bcm2835-v4l2
ExecStart={{ project_path }}/venv/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
