- hosts: all
  become: true
  remote_user: ansible
  tasks:
    - name: Install npm
      ansible.builtin.apt:
        name:
          - npm
        state: present
    - name: Install TPLink Plugin
      ansible.builtin.npm:
        name: homebridge-tplink-smarthome
        global: true
        state: present
    - name: Copy over the config file to target location
      ansible.builtin.copy:
        src: ../../homebridge-configs/config.json
        dest: /var/lib/homebridge/config.json
        owner: ansible
        group: ansible
        mode: '0644'
    - name: Restart Homebridge
      ansible.builtin.command:
        cmd: hb-service restart
      changed_when: false
